.square {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  font-size: 64px;
  display: flex;
  vertical-align: center;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  color: green;
}

.gameBoard {
  height: 312px;
  width: 312px;
  display: flex;
  flex-wrap: wrap;
}

.bigDiv {
  display: flex;
  justify-content: center;
}

.restart {
  display: flex;
  justify-content: center;
  fill: red;
}
